#tabuleiro {
    width: 602px;
    height: 602px;
    border: solid 1px;
    align-content: center;
}

.linha {
    height: 75px;
}

.casa {
    width: 75px;
    height: 100%;
    float: left;
    cursor: pointer;
}

.peca {
    width: 75px;
    height: 75px;
}

.casa_branca {
    background-color: #fff;
    text-align: center;
}

.casa_preta {
    background-color: #000;
    text-align: center;
}

.casa_selecionada {
    background-color: #FF0000;
}

